<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/index.css" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hello from Nunjucks</h1>
    {% block content %} {% endblock %}
  </body>
  <footer>
    <p>Just a no-surprises footer, people. Nothing to see here.</p>
    <p></p>
  </footer>
</html>
